/* 페이지 가운데 영역 */
.content {
  width: 100%;
  height: auto;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}


/* 페이지 가운데의 적혀있는 내용 한 줄 */
.content p {
  display: inline-block;
  width: 90%;
  margin-top: 0.85rem;
}