/* 페이지 헤더 */
.page_header {
  display: flex;
  border: 0.1rem solid;
  width: 100%;
  height: auto;
}


/* 왼쪽 상단의 뒤로가기 버튼 */
.back_button {
  height: 2.5rem;
  width: 2.5rem;
}


/* 상단의 페이지 제목 */ 
h1 {
font-size: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7rem;
  margin-right: 7rem;
}


/* 오른쪽 상단에 메뉴 버튼 */
.menu_button {
  height: 2.5rem;
  width: 2.5rem;
}