.home {
display: block;
}


/* 투데이스 탑10 */
.title {
  font-size: 1.5rem;
  margin-top:0.5rem;
  margin-left: 0.4rem;
}


/* 제일 큰 거 */
.top10 {
  display: flex;
}


/* 5개의 이미지+정보 */
.top10 .top_list {
  display: flex;
  flex-direction: column;
  width: 50%;
}


/* 썸내일+정보 */
.top10 .top_list .top_list_content {
  display: flex;
  margin-bottom: 0.35rem;
}


/* 썸네일을 감싸고 있는 섹션 */
.top10 .top_list .top_list_content .thumbnail {
  margin: 0.3rem;
  height: 5rem;
  width: 5rem;
}


/* 건들지 말기 */
.top10 .top_list .top_list_content .thumbnail img {
  height: 100%;
  width: 100%;
}


/* 정보 */
.top10 .top_list .top_list_content .impo {
  padding-top: 0.2rem;
  height: 100%;
  width: 100%;
  font-size: 0.7rem;
}


/* 정보 안의 제목 */
.top10 .top_list .top_list_content .impo .impo_title {
  display: block;
  font-size: 0.9rem;
}


/* 정보 안의 장르 */
.top10 .top_list .top_list_content .impo .impo_genre {
  display: block;
}


/* 정보 안의 조회수 */
.top10 .top_list .top_list_content .impo .impo_views {
  font-size: 0.6rem;
}


/* 정보 안의 추천수 */
.top10 .top_list .top_list_content .impo .impo_recommends {
  font-size: 0.6rem;
}