header {
  display: flex;
  border: 0.1rem solid;
  width: 100%;
  height: auto;
}


.back_button {
  height: 2.5rem;
  width: 2.5rem;
}


h1 {
  font-size: 1rem;
  margin: auto 7rem;
}


.menu_button {
  height: 2.5rem;
  width: 2.5rem; 
}