* {
  padding: 0;
  margin: 0;
  pont-size: 10px;
}


header {
  display: flex;
  border: 1px solid;
  width: 100%;
  height: auto;
}


.drop-menu {
  height: 2.5rem;
  width: 2.5rem;
}


/* 로고 이미지+Relay Writer */
.logo {
  display: flex ;
  width: auto;
}


.logo h1 {
  font-size: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7rem;
  margin-right: 7rem;
}


.search-button {
  width: 2.5rem;
}


.main-tab-nav {
  position: fixed;
  bottom: 0;
}


.main-tab-nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
width: 100%;
}


.main-tab-nav li {
  flex: 1;
}


.main-tab-nav a {
  display: inline-block;
  width: 100%;
  border: solid;
  text-align: center;
  font-size: 2rem;
  background-color: skyblue;
}


main {
  display: none;
}



.home {

}


/* 투데이스 탑10 */
.home h2 {
  font-size: 1.5rem;
  margin-top:0.5rem;
  margin-left: 0.4rem;
}


/* 제일 큰 거 */
.home .top10 {
  display: flex;
}


/* 5개의 이미지+정보 */
.top10 .top-list {
  display: flex;
  flex-direction: column;
  width: 50%;
}


/* 썸내일+정보 */
.top10 .top-list .top-list-content {
  display: flex;
  margin-bottom: 0.35rem;
}


/* 썸네일을 감싸고 있는 섹션 */
.top10 .top-list .top-list-content .thumbnail {
  margin: 0.3rem;
  height: 5rem;
  width: 5rem;
}


/* 건들지 말기 */
.top10 .top-list .top-list-content .thumbnail img {
  height: 100%;
  width: 100%;

}


/* 정보 */
.top10 .top-list .top-list-content .impo {
  padding-top: 0.2rem;
  height: 100%;
  width: 100%;
  font-size: 0.7rem;
}


/* 정보 안의 제목 */
.top10 .top-list .top-list-content .impo .impo-title {
  display: block;
  font-size: 0.9rem;
}



/* 정보 안의 장르 */
.top10 .top-list .top-list-content .impo .impo-genre {
  display: block;
}


/* 정보 안의 조회수 */
.top10 .top-list .top-list-content .impo .impo-views {
  font-size: 0.6rem;
  }


/* 정보 안의 추천수 */
.top10 .top-list .top-list-content .impo .impo-recommends {
  font-size: 0.6rem;
}


/* 최근목록 제목 */
.title-recent-list {
  border-top: 1px solid;
  margin-top: 0.5rem;
  margin-pottom: 0.1rem;
  font-size: 1.5rem;
}


/* 최근목록 제일 큰거 */
.recent-list {
  display: flex;
  flex-direction: column;
}


/* 최근목록 썸네일+정보 */
.recent-list-content {
  display: flex;
}


/* 최근목록 썸네일 */
.recent-list-content .thumbnail {
  margin: 0.3rem;
  height: 6rem;
  width: 6rem;
}


/* 건들지 말기 */
.recent-list-content .thumbnail img {
  height: 100%;
  width: 100%;
}


/* 최근목록 정보 */
.recent-list-content .impo {
  padding-top: 0.1rem;
  height: 4rem;
  width: 5rem;
}


/* 최근목록 정보 안의 제목 */
.recent-list-content .impo .impo-title {
  font-size: 1rem;
}


/* 최근목록 정보 안의 장르 */
.recent-list-content .impo .impo-genre {
  font-size: 0.85rem;
}


/* 최근목록 정보 안의 조회수 */
.recent-list-content .impo .impo-views {
  font-size: 0.7rem;
}


/* 최근목록 정보 안의 추천수 */
.recent-list-content .impo .impo-recommends {
  font-size: 0.7rem;
}




.community {
  display: none;
}


.more {
  display: none;
}


footer {

}
